       body{
        padding-left: 500px;
       }
       
       img {
            width: 70px;
            height: auto;
            padding-top: 20px;
        }

        body, html {
            margin: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffd4cb;
        }

        .container {
            
            animation: expandAndSlide 0.5s ease-in-out forwards;
        }

        .card {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding:20px 80px 20px 20px;
            background: linear-gradient(to right, #cf1875, #ef3c30);
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
            z-index: 2; 
            overflow: visible;
        }

        .notification-text {
            padding-left: 10px;
            font-size: 18px;
            color: white;
            text-align: center;
            opacity: 0;
            animation: fadeIn 0.1s ease-in-out 0.3s forwards;
            margin-left: 10px;
            position: relative;
            z-index: 2; 
        }

        .follower-card {
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transform: translateX(-50%);
            background: #fff;
            border-radius: 40px;
            opacity: 0;
            animation: fadeIn 0.5s ease-in-out 0.5s forwards, expandAndSlideFollower 0.5s ease-in-out 0.7s forwards;
            z-index: 1;
            animation-delay: 0s;
            width: auto;
            position: relative;
            top: -20px; 
            overflow: hidden; 
        }

        .follower-card p {
            display: flex;
            align-items: center;
            margin: 10px 0;
        }

        .follower-card img {
            margin-right: 10px; 
        }

        @keyframes pulse {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
        }

        @keyframes expandAndSlide {
            0% {
                transform: translateX(-100%) scaleY(0);
            }
            50% {
                transform: translateX(-100%) scaleY(1);
            }
            100% {
                transform: translateX(-100%) scaleY(1);
            }
        }

        @keyframes expandAndSlideFollower {
            0% {
                transform: translateY(-50px) scaleY(1);
            }
            30% {
                transform: translateY(50px) scaleY(0.8);
            }
            60% {
                transform: translateY(-20px) scaleY(1.1);
            }
            100% {
                transform: translateY(0) scaleY(1);
            }
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @media (max-width: 768px) {
            
            .container {
                padding: 50px;
            }
        
            .card {
                padding: 10px;
            }
        
            .follower-card {
                padding: 10px;
            }
        }
  